# Dependencies
node_modules/
pnpm-debug.log*

# Build outputs
dist/
.output/
.nitro/
.vercel/

# Cache
.cache/
.vite/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test
coverage/
.nyc_output/
